{% extends 'boutique/base.html' %}

{% block content %}

<h3 class="alert alert-info" style="text-align: center;">Détails de la Facture {{ facture.id }}</h3>

<div class="col-md-12">
    <p><strong>ID Commande :</strong> {{ facture.commande.id }}</p>
    <p><strong>Date de la Facture :</strong> {{ facture.date_facture|date:"d/m/Y H:i" }}</p>
    <p><strong>Total :</strong> {{ facture.total}} FCFA</p>

    <h4>Produits de la commande :</h4>
    <table class="table table-striped mt-3">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nom du Produit</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix Unitaire (FCFA)</th>
                <th scope="col">Total (FCFA)</th>
            </tr>
        </thead>
        <tbody>
            {% for ligne in facture.commande.lignecommande_set.all %}
            <tr>
                <td>{{ ligne.produit.nom }}</td>
                <td>{{ ligne.quantite }}</td>
                <td>{{ ligne.prix_unitaire }}</td>
                <td>{{ ligne.total_ligne }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<a href="{% url 'gestion_produit' %}">
    <button class="btn btn-primary">Retour à la liste des produits</button>
</a>

{% endblock %}