{% extends 'boutique/base.html' %}

{% block content %}

<h3 class="alert alert-info" style="text-align: center;">Gestion des Factures</h3>

<div class="col-md-12">
    <table class="table table-striped mt-3">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID Facture</th>
                <th scope="col">ID Commande</th>
                <th scope="col">Date de la Facture</th>
                <th scope="col">Total (FCFA)</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for facture in factures %}
            <tr>
                <td>{{ facture.id }}</td>
                <td>{{ facture.commande.id }}</td>
                <td>{{ facture.date_facture|date:"d/m/Y H:i" }}</td>
                <td>{{ facture.total }}</td>
                <td>
                    <!-- Bouton pour voir les détails de la facture -->
                    <a href="{% url 'detail_facture' facture.id %}" class="btn btn-info btn-sm">Voir détails</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}